@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-pink: #f542a7;
  --primary-dark: rgba(255, 255, 255, 0);
}
.App {
  text-align: center;
}

body{
  font-family: 'Roboto Condensed' sans-serif;
}